<div class="top-pane">
  <div class="toggle" id="toggle-nav">
    <a><i class='material-icons' (click)="openMobileMenu()">&#xE5D2;</i></a>
  </div>
</div>

<div class="mobile-menu">
  <div class="mobile-items-wrap">
    <div class="mobile-nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/teams']" (click)="hideMobileMenu()"><i class="material-icons header-icon">&#xE7FB;</i></a>
    </div>

    <div class="mobile-nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/matchups']" (click)="hideMobileMenu()"><i class="material-icons header-icon">&#xE915;</i></a>
    </div>

    <div class="mobile-nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/charts']" (click)="hideMobileMenu()"><i class="material-icons header-icon">&#xE6E1;</i></a>
    </div>

    <div class="mobile-nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/settings']" (click)="hideMobileMenu()"><i class="material-icons header-icon">&#xE8B8;</i></a>
    </div>
  </div>
</div>

<div class="menu-pane">
  <div class="navigation">

    <div class="logo-wrap">
      <img src="../nfl-teams/peterGriffinPatriots.png" class="logo" />
    </div>

    <div class="nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/teams']"><i class="material-icons header-icon">&#xE7FB;</i>Teams</a>
    </div>

    <div class="nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/matchups']"><i class="material-icons header-icon">&#xE915;</i>Matchups</a>
    </div>

    <div class="nav-section">
    <a class="header-item" routerLinkActive="active" [routerLink]="['/charts']"><i class="material-icons header-icon">&#xE6E1;</i>Charts</a>
    </div>

    <div class="nav-section">
      <a class="header-item" routerLinkActive="active" [routerLink]="['/settings']"><i class="material-icons header-icon">&#xE8B8;</i>Settings</a>
    </div>
  </div>
</div>

<style>
  .mobile-nav-section{
    display: inline-block;
  }
  .mobile-menu {
    overflow-x: scroll;
    z-index: 3;
    background-color: #404040;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 60px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .toggle i:hover {
    background-color: #6275fb;
    opacity: .4;
    cursor: pointer;
  }
  .toggle {
    display: none;
    float: left;
    line-height: 60px;
    margin: 12px 0 0 14px;

  }
  .toggle a{
    line-height: 60px;
    color: black;
  }
  .toggle a i {
    font-size: 32px;
  }
  .top-pane {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    left: 220px;
    height: 60px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .menu-pane {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    background-color: #404040;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .logo{
    max-height: 100%;
    max-width: 100%;
  }
  .logo-wrap{
    border-bottom: 1px solid white;
  }
  .header-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 16px 16px;
  }
  .header-icon{
    width: 30px;
    opacity: .99;
    margin-right: 12px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    vertical-align: bottom;
  }
  .navigation a:hover:not(.active) {
    background-color: #6275fb;
    opacity: .4;
    cursor: pointer;
  }
  .navigation a.active {
    font-weight: bolder;
    font-style: italic;
    font-size: 16px;
    background: #2d2d2d;
  }
  @media only screen and (max-width: 850px) {
    .menu-pane {
      left: -100%;
    }
    .top-pane {
      left: 0;
    }
    .toggle {
      display: block;
    }
  }
</style>

