<div class="rushing-chart-wrap">

  <div class="toggle" id="toggle-nav">
    <a><i class='material-icons' (click)="displayChartOptions()">&#xE5D2;</i></a>
  </div>

  <div class="mobile-chart-options">
    <div class="row options-chart-mobile">
      <div class="opponent-matchup-mobile">
        <label for="matchups-mobile">Opponent</label>
        <select class="form-control team-select-mobile" id="matchups-mobile" [(ngModel)]="activeOpponent" (ngModelChange)="onChangeOpponent()">
          <option class="placeholder" value="-1">Select a Matchup...</option>
          <option *ngFor="let opponent of opponents" [ngValue]="opponent">{{ opponent.fullName }}</option>
        </select>
      </div>
      <div class="data-type-radio">
        <label>Data Type</label>
        <form>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="rawOrNormalized" name="rawOrNormalized" value="raw" (change)="changeData()">Raw Data
          </label>
          <label class="radio-inline">
            <input type="radio" [(ngModel)]="rawOrNormalized" name="rawOrNormalized" value="normalized" (change)="changeData()">Normalized Data
          </label>
        </form>
      </div>
    </div>
  </div>

  <div class="row options-chart">
    <div class="opponent-matchup">
      <label for="matchups">Opponent Matchup</label>
      <select class="form-control team-select" id="matchups" [(ngModel)]="activeOpponent" (ngModelChange)="onChangeOpponent()">
        <option class="placeholder" value="-1">Select a Matchup...</option>
        <option *ngFor="let opponent of opponents" [ngValue]="opponent">{{ opponent.fullName }}</option>
      </select>
    </div>
    <div class="data-type-radio">
      <label>Data Type</label>
      <form>
        <label class="radio-inline">
          <input type="radio" [(ngModel)]="rawOrNormalized" name="rawOrNormalized" value="raw" (change)="changeData()">Raw Data
        </label>
        <label class="radio-inline">
          <input type="radio" [(ngModel)]="rawOrNormalized" name="rawOrNormalized" value="normalized" (change)="changeData()">Normalized Data
        </label>
      </form>
    </div>
  </div>
  <chart [options]="highchartOptions"></chart>
</div>

<style>
  .rushing-chart-wrap{
    position: relative;
  }
  chart{
    display: block;
    width: 100%;
    height: 275px;
  }
  .ng-dirty .placeholder{
    display: none;
  }
  .options-chart {
    margin-bottom: 20px;
  }
  .opponent-matchup {
    float: left;
    width: 35%;
    margin-left: 50px;
  }
  .team-select {
    max-width: 80%;
  }
  .data-type-radio {
    float: right;
    max-width: 52%;
    margin-right: 40px;
  }
  .toggle i:hover {
    background-color: #6275fb;
    opacity: .4;
    cursor: pointer;
  }
  .toggle {
    display: none;
    float: right;
    line-height: 60px;
  }
  .toggle a{
    line-height: 60px;
    color: black;
  }
  .toggle a i {
    font-size: 24px;
  }
  .options-chart-mobile{
    display: none;
  }
  @media all and (max-width: 600px) {
    .toggle{
      display: inline-block;
      right: 0px;
      top: -16px;
      position: absolute;
      z-index: 1;
    }
    .options-chart{
      display: none;
    }
    .options-chart-mobile{
      display: none;
    }
  }

</style>
