/* You can add global styles to this file, and also import other style files */
/*.main {*/
  /*width: 800px;*/
  /*padding: 20px;*/
/*}*/

main {
  margin: 100px 220px;
}

body{
  background: #f5f5f5;
}

.mobile-menu-open .team-page-content-wrap {
  top: 150px !important;
}

.mobile-menu-open .mobile-menu {
   top: 60px !important;
}
