
<div class="container">

  <form #form="ngForm" novalidate>
    <div class="form-group">
      <select class="form-control" name="gameYear" [(ngModel)]="activeYear" (ngModelChange)="onChange()">
        <option *ngFor="let year of years" [ngValue]="year">{{ year.text }}</option>
      </select>
      <select class="form-control" name="gameWeek" [(ngModel)]="activeWeek" (ngModelChange)="onChange()">
        <option *ngFor="let week of weeks" [ngValue]="week">{{ week.text }}</option>
      </select>
    </div>
  </form>

  <!--<time-slider class="week-select" [currentIndex]="13" [timeUnitContainer]="weeks.slice(0, 17)" (selectTick)="onChange($event)"></time-slider>-->
  <!--<time-slider class="year-select" [currentIndex]="0" [timeUnitContainer]="years" (selectTick)="onChange($event)"></time-slider>-->

  <div class="row">
    <div class="home-team">Home</div>
    <div class="away-team">Visitor</div>
  </div>
  <div *ngIf="validGame">
    <grid-row [inputGame]="game" *ngFor="let game of nflGames"></grid-row>
  </div>
  <div class="future-notification" *ngIf="!validGame">Hold your horses Player! That game hasn't happened yet!</div>
</div>

<style>
  .week-select{
    position: absolute;
    right: 75%;
  }
  .year-select{
    position: absolute;
    right: 25%;
  }
  .future-notification{
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
  }
  .form-control {
    width: 49%;
    display: inline-block;
  }
  .row {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .home-team {
    float: left;
    width: 50%;
  }
  .away-team {
    float: right;
    width: 50%;
  }
</style>
