<div class="row" (click)="redirectToCharts()">
  <div class="team-wrapper-left">
    <div class="home-score score">{{ game.homeScore }}</div>
    <div class="home-team">{{ game.home.fullName }}</div>
    <img class="team-icon" [src]=homeFullPath />
  </div>
  <div class="team-wrapper-right">
    <div class="away-team">{{ game.visitor.fullName }}</div>
    <img class="team-icon" [src]=awayFullPath />
    <div class="visitor-score score">{{ game.visitorScore }}</div>
  </div>
</div>
<style>
  .home-score{
    float: left;
  }
  .visitor-score{
    float: right;
  }
  .row {
    background-color: beige;
    border-bottom: solid 1px;
    height: 100px;
    text-align: center;
    cursor: pointer;
  }
  .row:hover {
    font-size: 16px;
    font-weight: bolder;
    background-color: beige;
    opacity: .8;
  }
  .row:hover .team-icon {
    height: 42px;
  }
  .team-wrapper-left {
    float: left;
    width: 50%;
    margin-top: 18px;
  }
  .team-wrapper-right {
    float: right;
    width: 50%;
    margin-top: 18px;
  }
  img {
    height: 35px;
    margin-top: 5px;
  }
</style>
